body {
    box-sizing: border-box;
    margin: 0;
}

#library {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 200px;
}

fieldset span {
    display: block;
}

#checkbox-style {
    display: flex;
    margin-top: 1rem;
}

.card {
    background-color: brown;
    border: 2px solid yellow;
    width: 200px;
    height: 400px;
    color: white;
    font-size: 1rem;
}

#menu {
    background-color: blueviolet;
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

#menu button {
    height: 50px;
    width: 150px;
    font-size: 1rem;
}

#books-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
