body {
    box-sizing: border-box;
    margin: 0;
}

#library {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

fieldset span {
    display: block;
}

#checkbox-style {
    display: flex;
    margin-top: 1rem;
}
