body {
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(89, 159, 221);
}

.card {
    background-color: brown;
    border: 2px solid yellow;
    width: 200px;
    height: 400px;
    color: white;
    font-size: 1rem;
}

#main {
    background-color: rgb(155, 100, 206);
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main button {
    height: 50px;
    width: 150px;
    font-size: 1rem;
}

#books-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
